.clear {
    clear: both;
}

table td input[type="text"] {
    max-width: 330px;
    width: 100%;
}

table td input[type="password"] {
    max-width: 330px;
    width: 100%;
}

.seperator {
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    padding-bottom: 15px;
}

#advancedopts {
    display: none;
}

#advancedopts textarea {
    width: 400px;
    height: 150px;
}

/* admin menu item */
.toplevel_page_wposso_settings > .wp-menu-image {
    background-image: url(../images/ider_logo_white_128.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
}
